In [2]:
import pandas as pd

In [3]:
members = pd.read_csv('data/churn_comp_refresh/members_v2.csv')
transactions = pd.read_csv('data/churn_comp_refresh/transactions_v2.csv')
user_logs = pd.read_csv('data/churn_comp_refresh/user_logs_v2.csv')
sample_submission = pd.read_csv('data/churn_comp_refresh/sample_submission_v2.csv')
training = pd.read_csv('data/churn_comp_refresh/train_v2.csv')

# Data exploration

In [20]:
members_set = set(members.msno)
training_set = set(training.msno)
sample_submission_set = set(sample_submission.msno)
transactions_set = set(transactions.msno)
user_logs_set = set(user_logs.msno)

In [26]:
print('Number of members: {}'.format(len(members)))
print('Number of transactions: {}'.format(len(transactions)))
print('Number of user_logs: {}'.format(len(user_logs)))
print('Number of training rows: {}'.format(len(training)))
print('Number of sample submission: {}'.format(len(sample_submission)))

Number of members: 795090
Number of transactions: 1431009
Number of user_logs: 18396362
Number of training rows: 970960
Number of sample submission: 907471

In [31]:
print('number of sample_submission rows that are missing from members: {}'.format(len(sample_submission_set - members_set)) )
print('number of sample_submission rows that are missing from transactions: {}'.format(len(sample_submission_set - transactions_set)) )
print('number of sample_submission rows that are missing from user_logs: {}'.format(len(sample_submission_set - user_logs_set)) )
print ('{} members in the training set have no associated data'.format(len(training_set - transactions_set - user_logs_set - members_set)))
print ('{} members in the test set have no associated data'.format(len(sample_submission_set - transactions_set - user_logs_set - members_set)))

number of sample_submission rows that are missing from members: 112381
number of sample_submission rows that are missing from transactions: 1
number of sample_submission rows that are missing from user_logs: 207242
8567 members in the training set have no associated data
0 members in the test set have no associated data

In [3]:
members.head()

,msno,city,bd,gender,registered_via,registration_init_time
0,+tJonkh+O1CA796Fm5X60UMOtB6POHAwPjbTRVl/EuU=,1,0,NaN,7,20110914
1,WFLY3s7z4EZsieHCt63XrsdtfTEmJ+2PnnKLH5GY4Tk=,6,32,female,9,20110915
2,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918
3,OoDwiKZM+ZGr9P3fRivavgOtglTEaNfWJO4KaJcTTts=,1,0,NaN,7,20110918
4,4De1jAxNRABoyRBDZ82U0yEmzYkqeOugRGVNIf92Xb8=,4,28,female,9,20110920

In [5]:
transactions.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,++6eU4LsQ3UQ20ILS7d99XK8WbiVgbyYL4FUgzZR134=,32,90,298,298,0,20170131,20170504,0
1,++lvGPJOinuin/8esghpnqdljm6NXS8m8Zwchc7gOeA=,41,30,149,149,1,20150809,20190412,0
2,+/GXNtXWQVfKrEDqYAzcSw2xSPYMKWNj22m+5XkVQZc=,36,30,180,180,1,20170303,20170422,0
3,+/w1UrZwyka4C9oNH3+Q8fUf3fD8R3EwWrx57ODIsqk=,36,30,180,180,1,20170329,20170331,1
4,+00PGzKTYqtnb65mPKPyeHXcZEwqiEzktpQksaaSC3c=,41,30,99,99,1,20170323,20170423,0

In [9]:
user_logs.head()

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,u9E91QDTvHLq6NXjEaWv8u4QIqhrHk72kE+w31Gnhdg=,20170331,8,4,0,1,21,18,6309.273
1,nTeWW/eOZA/UHKdD5L7DEqKKFTjaAj3ALLPoAWsU8n0=,20170330,2,2,1,0,9,11,2390.699
2,2UqkWXwZbIjs03dHLU9KHJNNEvEkZVzm69f3jCS+uLI=,20170331,52,3,5,3,84,110,23203.337
3,ycwLc+m2O0a85jSLALtr941AaZt9ai8Qwlg9n0Nql5U=,20170331,176,4,2,2,19,191,7100.454
4,EGcbTofOSOkMmQyN1NMLxHEXJ1yV3t/JdhGwQ9wXjnI=,20170331,2,1,0,1,112,93,28401.558

In [4]:
training.head()

                                           msno  is_churn
0  ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=         1
1  f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=         1
2  zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=         1
3  8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=         1
4  K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=         1

In [5]:
sample_submission.head()

                                           msno  is_churn
0  4n+fXlyJvfQnTeKXTWT507Ll4JVYGrOC8LHCfwBmPE4=         0
1  aNmbC1GvFUxQyQUidCVmfbQ0YeCuwkPzEdQ0RwWyeZM=         0
2  rFC9eSG/tMuzpre6cwcMLZHEYM89xY02qcz7HL4//jc=         0
3  WZ59dLyrQcE7ft06MZ5dj40BnlYQY7PHgg/54+HaCSE=         0
4  aky/Iv8hMp1/V/yQHLtaVuEmmAxkB5GuasQZePJ7NU4=         0

In [10]:
members.describe()

                city             bd  registered_via  registration_init_time
count  795090.000000  795090.000000   795090.000000            7.950900e+05
mean        5.253493      11.944989        6.873348            2.013559e+07
std         6.187004      18.900119        1.825102            2.905877e+04
min         1.000000   -3152.000000        3.000000            2.004033e+07
25%         1.000000       0.000000        7.000000            2.012071e+07
50%         1.000000       0.000000        7.000000            2.014111e+07
75%         9.000000      26.000000        7.000000            2.016022e+07
max        22.000000    2016.000000       13.000000            2.017042e+07

# Pipeline

In [33]:
import sqlite3
import csv

In [2]:
# open the connection
db = sqlite3.connect('data/mydb')
cur = db.cursor()

# create the members table
cur.execute('''
    CREATE TABLE members(
    msno TEXT PRIMARY KEY, 
    city INTEGER,
    bd INTEGER, 
    gender TEXT, 
    registered_via INTEGER, 
    registration_init_time TEXT)
''')

# create the transactions table
cur.execute('''
    CREATE TABLE transactions(
    transaction_id INTEGER PRIMARY KEY,
    msno TEXT, 
    payment_method_id INTEGER,
    payment_plan_days INTEGER, 
    plan_list_price INTEGER, 
    actual_amount_paid INTEGER, 
    is_auto_renew INTEGER,
    transaction_date INTEGER,
    membership_expire_date INTEGER,
    is_cancel INTEGER)
''')

# create the user_logs table
cur.execute('''
    CREATE TABLE user_logs(
    msno TEXT, 
    date TEXT,
    num_25 INTEGER, 
    num_50 INTEGER, 
    num_75 INTEGER, 
    num_985 INTEGER,
    num_100 INTEGER,
    num_unq INTEGER,
    total_secs FLOAT,
    PRIMARY KEY (msno, date))
''')

# insert members data into database
with open('data/churn_comp_refresh/members_v2.csv', 'rt') as f:
    dicts = csv.DictReader(f)
    to_db = [
        (d['msno'], 
         d['city'], 
         d['bd'], 
         d['gender'], 
         d['registered_via'], 
         d['registration_init_time']) for d in dicts]
cur.executemany(
    '''INSERT INTO members 
    (msno, city, bd, gender, registered_via, registration_init_time) 
    VALUES (?, ?, ?, ?, ?, ?);''', to_db)

# insert transactions data into database
with open('data/churn_comp_refresh/transactions_v2.csv', 'rt') as f:
    dicts = csv.DictReader(f)
    to_db = [
        (
            d['msno'], 
            d['payment_method_id'], 
            d['payment_plan_days'], 
            d['plan_list_price'], 
            d['actual_amount_paid'], 
            d['is_auto_renew'],
            d['transaction_date'],
            d['membership_expire_date'],
            d['is_cancel'],
        ) 
        for d in dicts]
    
# insert user_logs into database
with open('data/churn_comp_refresh/user_logs_v2.csv', 'rt') as f:
    dicts = csv.DictReader(f)
    to_db = [
        (
            d['msno'], 
            d['date'], 
            d['num_25'], 
            d['num_50'], 
            d['num_75'], 
            d['num_985'],
            d['num_100'],
            d['num_unq'],
            d['total_secs'],
        ) 
        for d in dicts]
    
cur.executemany(
    '''INSERT INTO user_logs 
    ('msno', 'date', 'num_25', 'num_50', 'num_75', 'num_985', 'num_100',
       'num_unq', 'total_secs') 
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?);''', to_db)

db.commit()

In [38]:
db = sqlite3.connect('data/mydb')
cur = db.cursor()

# # create the training table
# cur.execute('''
#     CREATE TABLE training(
#     msno TEXT, 
#     is_churn INTEGER
# )
# ''')

# insert transactions data into database
with open('data/churn_comp_refresh/transactions_v2.csv', 'rt') as f:
    dicts = csv.DictReader(f)
    to_db = [
        (
            d['msno'], 
            d['payment_method_id'], 
            d['payment_plan_days'], 
            d['plan_list_price'], 
            d['actual_amount_paid'], 
            d['is_auto_renew'],
            d['transaction_date'],
            d['membership_expire_date'],
            d['is_cancel'],
        ) 
        for d in dicts]
    
cur.executemany(
    '''INSERT INTO transactions 
    ('msno', 'payment_method_id', 
    'payment_plan_days', 
    'plan_list_price', 
    'actual_amount_paid', 
    'is_auto_renew', 
    'transaction_date',
       'membership_expire_date', 'is_cancel') 
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?);''', to_db)

In [39]:
db.commit()

In [21]:
db = sqlite3.connect('data/mydb')
cur = db.cursor()

# create the training table
cur.execute('''
    CREATE TABLE sample_submission(
    msno TEXT, 
    is_churn INTEGER
)
''')

# insert training data into database
with open('data/churn_comp_refresh/sample_submission_v2.csv', 'rt') as f:
    dicts = csv.DictReader(f)
    to_db = [
        (
            d['msno'], 
            d['is_churn'], 
        ) 
        for d in dicts]
    
cur.executemany(
    '''INSERT INTO sample_submission 
    ('msno', 'is_churn') 
    VALUES (?, ?);''', to_db)
db.commit()

In [22]:
cur.execute('''SELECT * FROM sample_submission''')
all_rows = cur.fetchall()

In [34]:
db = sqlite3.connect('data/mydb')
cur = db.cursor()
cur.execute('''SELECT * FROM transactions''')
all_rows = cur.fetchall()

In [35]:
len(all_rows)

0

In [57]:
len(transactions)

1431009

In [58]:
import sys

In [59]:
sys.getsizeof(all_rows)

12383856

In [60]:
sys.getsizeof(transactions)

247564616