In [25]:
import sqlite3
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pandas as pd

In [31]:
# open the connection
db = sqlite3.connect('data/mydb')
cur = db.cursor()

In [14]:
# select all the rows in the members dataset where the id is in the training dataset
# this will be my preliminary training set
cur.execute('''SELECT city, bd, gender, registered_via, registration_init_time, is_churn 
            FROM training 
            INNER JOIN members ON training.msno=members.msno''')
training = np.array(cur.fetchall())

In [20]:
X = training[:, :-1]
y = training[:, -1]

In [21]:
y.shape

(699492,)

In [22]:
X.shape

(699492, 5)

In [24]:
X

array([['13', '20', 'male', '3', '20131223'],
       ['13', '0', '', '9', '20140307'],
       ['1', '0', '', '3', '20140402'],
       ...,
       ['13', '28', 'male', '7', '20110831'],
       ['1', '0', '', '7', '20110903'],
       ['1', '0', '', '7', '20110905']],
      dtype='<U21')

In [ ]:
# let's pretend for now that these values have been transformed and cleaned appopriately

# Pipeline using cleaned data

In [27]:
store = pd.HDFStore('store.h5')

In [29]:
members = store['members']

In [32]:
training = cur.execute('''SELECT *  FROM training''')